/Practica_AlmacenesLeo/Almacenes Leo Java/nbproject/private/
/Practica_AlmacenesLeo/Almacenes Leo Java/build/
/EstoyProbandoHibernateTio/nbproject/private/
/FuncionaPls/nbproject/private/
/FuncionaPls/build/
/FuncionaPls/dist/
/PepeHands/nbproject/private/
/PepeHands/build/
/PepeHands/dist/